<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="tableSec">
        <table align="center" border="1">

            <tr>
                <th> Day of the Week</th>
                <th> Number of waiters</th>

            </tr>
            {{#each names}}
<tr>
    <td>{{people}}</td>
    <td>{{count}}</td>


    </tr>

{{/each}}
        </table>


    </div> 







</body>

</html>