<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<form action="/waiter_App" method="get">
<div class="container"> 
<div class="a"> 
<h1>  WAITERS AVAILABLE</h1>
</div>
<div class="d">
    <input type="text" name="textBox" id="">Please enter your username
</div>
<div class="b">
<h3> Please select days available:</h3>
<input type="checkbox" name="Day1 " id=""> Monday
<input type="checkbox" name="Day2" id=""> Tuesday
<input type="checkbox" name="Day3" id=""> Wednesday
<input type="checkbox" name="Day4" id=""> Thursday
<input type="checkbox" name="Day5" id=""> Friday
<input type="checkbox" name="Day6" id=""> Saturday
<input type="checkbox" name="Day7" id=""> Sunday
 </div>

<div class="c"> 
<input type="submit" value=""> Book Me!
</div>
</div>
</form>
{{!-- <form action="/send_days" method="post">

</form> --}}

<form action="/show_days" method="get">



</form>

</body>
</html>