<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 
    
<div class="a"> 
 WELCOME

</div>

{{!-- 
<div class="d">
    <input type="text" name="textBox" id="">Please enter your username
</div> --}}




<form action="/waiters/:name" method="post">
<div class="b">
    <input type="text" name=" names" id="">
<h3> Please select days available:</h3>
<input type="checkbox" name= "weekday" value="Monday" id=""> Monday
<input type="checkbox" name= "weekday" value="Tuesday" id=""> Tuesday
<input type="checkbox" name= "weekday" value="Wednesday" id=""> Wednesday
<input type="checkbox" name= "weekday" value="Thursday" id=""> Thursday
<input type="checkbox" name= "weekday" value="Friday" id=""> Friday
<input type="checkbox" name= "weekday" value="Saturday" id=""> Saturday
<input type="checkbox" name= "weekday" value="Sunday" id=""> Sunday
 </div>
<div class="c"> 
<input type="submit" value="Book Me!"> 
</div>


</form>

<form action="/days" method="get">



</form>

</body>
</html>