<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/" method="post">

        
<div class="a"> 
<h2> WAITER APP </h2> 

</div>
    <h3>please enter user name below</h3>
        <input type="text" name="textBox" id="">
        <button type="submit"> Login </button>
    </form>


</body>

</html>